/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.fixedtop__in, .container__in, .modal__wrapper-in {
  width: 1030px;
  margin: 0 auto;
}

.fixedtop__l, .fixedtop__r, .fixedtop__b, .container .wrapper__t, .container .wrapper__l, .container .wrapper__r, .container .wrapper__b, .container .carousel__pagin-button, .container .carousel .item__img, .container .carousel .item__img .badge-1, .container .carousel .item__img .badge-2, .container .carousel .item__img .badge-3, .container .carousel .item__img .badge-4, .calltoaction .btn-action:before, .calltoaction .btn-action:after, .calltoaction .arrow, .gallery__shadow, .folio__nav .prevBtn, .folio__nav .nextBtn, .modal .left .meta .nav .next, .modal .left .meta .nav .prev, .modal .close {
  background-image: url("../img/spritesheet.png");
}

@font-face {
  font-family: "DINPro";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/DINPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DINProLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/DINPro-Light.ttf") format("truetype"), url("../fonts/DINPro-Light.svg#DINProLight") format("svg");
}

@font-face {
  font-family: "DINProMedium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.ttf") format("truetype"), url("../fonts/DINPro-Medium.svg#DINProMedium") format("svg");
}

* {
  transition: all 0.5s ease-in-out;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.fixedtop {
  position: fixed;
  top: -90px;
  left: 0;
  right: 0;
  z-index: 10;
  bottom: 0;
  height: 90px;
}

.fixedtop__in {
  height: 90px;
  margin: 0 auto;
}

.fixedtop__l {
  width: 15px;
  height: 74px;
  background-position: -30px -540px;
  background-repeat: no-repeat;
  float: left;
}

.fixedtop__c {
  width: 1000px;
  height: 74px;
  background: url("/img/menu-pattern.png") repeat;
  float: left;
}

.fixedtop__r {
  width: 15px;
  height: 74px;
  background-position: -55px -540px;
  background-repeat: no-repeat;
  float: left;
}

.fixedtop__b {
  height: 16px;
  width: 1030px;
  background-position: -5px -392px;
  background-repeat: no-repeat;
}

.fixedtop .mainnav {
  float: left;
  margin-top: 20px;
}

.fixedtop .mainnav ul {
  margin-top: 23px;
  margin-left: 71px;
  list-style: none;
}

.fixedtop .mainnav li {
  display: inline-block;
  margin-right: 30px;
}

.fixedtop .mainnav li:last-child {
  margin-right: 0;
}

.fixedtop .mainnav a {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "DINPro";
  font-weight: 600;
  color: #363636;
}

.fixedtop .mainnav a.is-active, .fixedtop .mainnav a:hover, .fixedtop .mainnav a:active {
  color: #c72a2a;
  text-decoration: none;
}

.fixedtop .meta {
  float: right;
  margin-top: 44px;
  margin-right: 60px;
  font-size: 11px;
  font-family: "DINProLight";
}

.fixedtop .meta__tel {
  display: inline-block;
  margin-right: 22px;
  color: #363636;
}

.fixedtop .meta__email {
  display: inline-block;
}

.fixedtop .meta__email a {
  color: #363636;
}

.container {
  width: 100%;
  height: 100vh;
  background: red;
  position: relative;
  overflow: hidden;
}

.container.home {
  background: #fff;
  background: url("../img/bg-home.jpg") no-repeat;
  background-size: cover;
  opacity: 0;
}

.container.folio {
  background: #fbfaf6;
}

.container__in {
  position: relative;
  height: 100%;
}

.container .wrapper {
  position: absolute;
  height: 570px;
  width: 100%;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
      transform: translate(-50%, -45%);
  opacity: 0;
}

.container .wrapper__t {
  width: 100%;
  height: 30px;
  background-position: -5px -107px;
  background-repeat: no-repeat;
}

.container .wrapper__l {
  width: 15px;
  height: 525px;
  background-position: -1046px -5px;
  background-repeat: no-repeat;
  float: left;
}

.container .wrapper__c {
  height: 525px;
  width: 1000px;
  background: #fff url("/img/menu-pattern.png") repeat;
  float: left;
  padding: 27px 59px 17px 63px;
}

.container .wrapper__r {
  width: 15px;
  height: 525px;
  background-position: -5px -540px;
  background-repeat: no-repeat;
  float: left;
}

.container .wrapper__b {
  height: 15px;
  width: 1030px;
  background-position: -5px -82px;
  background-repeat: no-repeat;
}

.container .carousel__title {
  font-size: 21px;
  text-transform: uppercase;
  font-family: "DINPro";
  color: #ccc;
  float: left;
  margin-left: 7px;
}

.container .carousel__pagin {
  float: right;
}

.container .carousel__pagin-button {
  display: inline-block;
  height: 13px;
  width: 13px;
  background-position: -449px -5px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition-property: none;
}

.container .carousel__pagin-button:hover, .container .carousel__pagin-button:active, .container .carousel__pagin-button.is-active {
  background-position: -472px -5px;
}

.container .carousel__box {
  margin: 10px auto 0;
  width: 33.33%;
  float: left;
}

.container .carousel .item {
  width: 187px;
  float: left;
  margin-right: 39px;
}

.container .carousel .item:last-child {
  margin-right: 0;
}

.container .carousel .item__img {
  height: 192px;
  width: 192px;
  background-position: -315px -147px;
  background-repeat: no-repeat;
  position: relative;
}

.container .carousel .item__img img {
  width: 179px;
  height: 179px;
  position: absolute;
  top: 7px;
  left: 7px;
}

.container .carousel .item__img .badge {
  position: absolute;
  z-index: 5;
}

.container .carousel .item__img .badge-1 {
  width: 51px;
  height: 20px;
  left: 63px;
  top: -4px;
  background-position: -142px -5px;
  background-repeat: no-repeat;
}

.container .carousel .item__img .badge-2 {
  width: 54px;
  height: 34px;
  left: 63px;
  top: -15px;
  background-position: -203px -5px;
  background-repeat: no-repeat;
}

.container .carousel .item__img .badge-3 {
  width: 51px;
  height: 39px;
  left: 63px;
  top: -10px;
  background-position: -265px -5px;
  background-repeat: no-repeat;
}

.container .carousel .item__img .badge-4 {
  width: 51px;
  height: 20px;
  left: 36px;
  top: -4px;
  background-position: -326px -5px;
  background-repeat: no-repeat;
}

.container .carousel .item__title {
  font-size: 21px;
  line-height: 22px;
  font-family: "DINPro";
  color: #1c1c1c;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 5px;
}

.container .carousel .item__text {
  font-size: 14px;
  color: #1c1c1c;
  font-family: 'PT Serif', serif;
  font-style: italic;
  margin-top: 16px;
  margin-left: 5px;
  line-height: 16px;
}

.carousel__wrapper {
  width: 880px;
  overflow: hidden;
}

.carousel__wrapper__in {
  width: 300%;
  position: relative;
  left: 0;
}

.slide-active-1 .carousel__wrapper__in {
  left: 0px;
}

.slide-active-2 .carousel__wrapper__in {
  left: -100%;
}

.slide-active-3 .carousel__wrapper__in {
  left: -200%;
}

hr {
  width: 870px;
  margin: 21px auto;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dedede;
  padding: 0;
}

.btn {
  position: relative;
  left: 50%;
  width: 240px;
  -webkit-transform: translateX(-48%);
  -ms-transform: translateX(-48%);
  transform: translateX(-48%);
}

.calltoaction {
  position: relative;
}

.calltoaction .btn-action {
  display: inline-block;
  background: url("../img/btn-c.png") repeat-x;
  background-position: -387px 0px;
  height: 67px;
  width: 211px;
}

.calltoaction .btn-action:before {
  display: inline-block;
  content: " ";
  background-position: -399px -5px;
  background-repeat: no-repeat;
  height: 67px;
  width: 15px;
  -webkit-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  transform: translateX(-15px);
}

.calltoaction .btn-action:after {
  display: inline-block;
  content: " ";
  background-repeat: no-repeat;
  background-position: -424px -5px;
  height: 67px;
  width: 15px;
  -webkit-transform: translateX(196px);
  -ms-transform: translateX(196px);
  transform: translateX(196px);
}

.calltoaction .btn-action .btn-text {
  text-shadow: 0 3px 0 #9a0507;
  line-height: 67px;
  text-align: center;
  color: #fafafa;
  font-family: "DINPro";
  font-size: 22px;
  text-transform: uppercase;
  position: absolute;
  top: -3px;
}

.calltoaction .arrow {
  position: absolute;
  background-position: -5px -5px;
  background-repeat: no-repeat;
  width: 38px;
  height: 24px;
  top: 0;
  right: 290px;
}

.calltoaction__info {
  position: absolute;
  width: 250px;
  right: 25px;
  top: 10px;
  font-size: 12px;
  font-style: italic;
  line-height: 13px;
  font-family: 'PT Serif', serif;
}

.calltoaction__info span {
  color: #ff0000;
}

.folio__bg {
  position: absolute;
  bottom: 0;
  left: 50%;
  background: url("../img/bg-folio.png") no-repeat;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 1874px;
  height: 417px;
  z-index: 1;
}

.gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 6;
  width: 1000px;
  max-height: 668px;
  overflow: hidden;
  opacity: 0;
}

.gallery__in {
  width: 200%;
  position: relative;
  left: 0;
}

.gallery__box {
  width: 50%;
  height: 500px;
  overflow: hidden;
  float: left;
}

.gallery__shadow {
  background-position: -35px -438px;
  width: 886px;
  height: 66px;
  position: absolute;
  bottom: 0;
  z-index: 5;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.gallery__item {
  float: left;
  width: 199px;
  height: 166px;
  position: relative;
  margin: 0 1px 1px 0;
  overflow: hidden;
  cursor: pointer;
}

.gallery__item:nth-child(5) {
  margin-right: 0;
}

.gallery__item:hover .item__text {
  top: 0;
}

.gallery .item__text {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  height: 101%;
  text-align: center;
  transition: top 0.3s ease-in-out;
}

.gallery .item__title {
  display: block;
  margin: 56px 20px 0;
  font-family: "DINPro";
  font-size: 14px;
  text-transform: uppercase;
  line-height: 19px;
}

.gallery .item__desc {
  display: block;
  margin-top: 15px;
  font-family: "PT Serif";
  font-style: italic;
  font-size: 12px;
  line-height: 13px;
}

.folio__nav {
  position: absolute;
  top: 50%;
  height: 56px;
  z-index: 5;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.folio__nav .prevBtn {
  height: 56px;
  width: 56px;
  background-position: -112px -526px;
  float: left;
  cursor: pointer;
  margin-left: 10px;
  opacity: 0;
}

.folio__nav .nextBtn {
  height: 56px;
  width: 56px;
  background-position: -181px -526px;
  float: right;
  cursor: pointer;
  margin-right: 10px;
  opacity: 0;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
  display: none;
}

.modal__bg {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 8;
  opacity: 0;
}

.modal__wrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  background: #fff;
  height: 0px;
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  z-index: 20;
}

.modal__wrapper-in {
  position: relative;
  opacity: 0;
}

.modal .left {
  margin-top: 8px;
  margin-right: 22px;
  display: inline-block;
  vertical-align: top;
}

.modal .left .meta__title {
  float: left;
  font-family: "PT Serif";
  font-size: 12px;
  font-style: italic;
  line-height: 13px;
  margin-top: 7px;
}

.modal .left .meta .nav {
  float: right;
}

.modal .left .meta .nav .next {
  width: 23px;
  height: 23px;
  background-position: -354px -526px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 7px;
  cursor: pointer;
}

.modal .left .meta .nav .prev {
  width: 23px;
  height: 23px;
  background-position: -384px -526px;
  background-repeat: no-repeat;
  margin-top: 7px;
  margin-right: 8px;
  display: inline-block;
  cursor: pointer;
}

.modal .right {
  margin-top: 8px;
  display: inline-block;
  vertical-align: top;
  width: 360px;
}

.modal .right .title {
  font-family: "DINPro";
  font-size: 14px;
  text-transform: uppercase;
  line-height: 19px;
}

.modal .right .title-type {
  margin-top: 3px;
  font-family: "PT Serif";
  font-style: italic;
  font-size: 12px;
  line-height: 13px;
}

.modal .right p {
  margin-top: 13px;
  font-family: "PT Serif";
  font-size: 13px;
  font-style: italic;
  line-height: 26px;
  color: #565658;
}

.modal .close {
  width: 17px;
  height: 17px;
  margin-top: 23px;
  margin-right: 23px;
  background-position: -325px -526px;
  float: right;
  cursor: pointer;
}

.modal .thumb-box {
  position: absolute;
  bottom: 31px;
  height: 199px;
  width: 337px;
  right: 50px;
}

.modal .thumb-box .thumb {
  width: 100%;
  margin-bottom: 11px;
  height: 58px;
}

.modal .thumb-box .thumb:last-child {
  margin-bottom: 0;
}

.modal .thumb-box .thumb img {
  float: left;
  margin-right: 11px;
}

.modal .thumb-box .thumb img:last-child {
  margin-right: 0;
}

.modal .img__wrapper {
  width: 617px;
  height: 434px;
  overflow: hidden;
}

.modal .img__wrapper-box {
  width: 300%;
  position: relative;
  height: 100%;
  left: 0;
}

.modal .img__wrapper img {
  width: 33.33%;
  float: left;
}
