%in {
	width: 1030px;
	margin: 0 auto;
}

%sprite {
	background-image: url("../img/spritesheet.png");
}

@include font-face("DINPro", "../fonts/DINPro-Bold", $file-formats: ttf);
@include font-face("DINProLight", "../fonts/DINPro-Light", $file-formats: ttf otf svg);
@include font-face("DINProMedium", "../fonts/DINPro-Medium", $file-formats: ttf otf svg woff);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic&subset=latin,cyrillic);

* {
	@include transition(all 0.5s ease-in-out);
}

.clearfix {
	@include clearfix;
}


.fixedtop {
	position: fixed;
	top: -20px;
	left:0;
	right: 0;
	z-index: 1000;
	bottom: 0;
	height: 90px;
	

	&__in {
		@extend %in;
		height: 90px;
		margin: 0 auto;
	}

	&__top {
		
	}

	&__l {
		width: 15px;
		height: 74px;
		@extend %sprite;
		background-position: -30px -540px;
		background-repeat: no-repeat;
		float: left;
	}

	&__c {
		width: 1000px;
		height: 74px;
		background: url("/img/menu-pattern.png") repeat;
		float: left;
	}

	&__r {
		width: 15px;
		height: 74px;
		@extend %sprite;
		background-position: -55px -540px;
		background-repeat: no-repeat;
		float: left;
	}

	&__b {
		height: 16px;
		width: 1030px;
		@extend %sprite;
		background-position: -5px -392px;
		background-repeat: no-repeat;
	}

	.mainnav {
		float: left;
		margin-top: 20px;
		
		ul {
			margin-top: 23px;
			margin-left:71px;
			list-style: none;
		}

		li {
			display: inline-block;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
		
		}


		a {
			text-transform: uppercase;
			font-size: 14px;
			font-family: "DINPro";
			font-weight: 600;
			color: #363636;

			&.is-active, &:hover, &:active {
				color: #c72a2a;
				text-decoration: none;
			}

		}


	}

	.meta {
		float: right;
		margin-top: 44px;
		margin-right: 60px;
		font-size: 11px;
		font-family: "DINProLight";

		&__tel {
			display: inline-block;
			margin-right: 22px;
			color: #363636;
		}

		&__email {
			display: inline-block;
			a {
				color: #363636;
			}
		}
	}

}

.container {
	width: 100%;
	height: 100vh;
	background: red;
	position: relative;
	overflow: hidden;

	&.home {
		background: #fff;
		background: url("../img/bg-home.jpg") no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}

	&.folio {
		background: #fbfaf6;
		
	}



	&__in {
		@extend %in;
		position: relative;
		height: 100%;
	}

	.wrapper {
		position: absolute;
		height: 570px;
		width: 100%;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%,-45%);
  		transform: translate(-50%,-45%);
  
  
		&__t {
			width: 100%;
			height: 30px;
			@extend %sprite;
			background-position: -5px -107px;
			background-repeat: no-repeat;
		}

		&__l {
			width: 15px;
			height: 525px;
			@extend %sprite;
			background-position: -1046px -5px;
			background-repeat: no-repeat;
			float: left;
		}

		&__c {
			height: 525px;
			width: 1000px;
			background: #fff url("/img/menu-pattern.png") repeat;
			float: left;
			padding: 27px 59px 17px 63px;

		}

		&__r {
			width: 15px;
			height: 525px;
			@extend %sprite;
			background-position: -5px -540px;
			background-repeat: no-repeat;
			float: left;
		}

		&__b {
			height: 15px;
			width: 1030px;
			@extend %sprite;
			background-position: -5px -82px;
			background-repeat: no-repeat;
		}
	}

	.carousel {

		
		&__title {
			font-size: 21px;
			text-transform: uppercase;
			font-family: "DINPro";
			color: #ccc;
			float: left;
			margin-left: 7px;
		}

		&__pagin {
			float: right;

			&-button {
				display: inline-block;
				height: 13px;
				width: 13px;
				@extend %sprite;
				background-position: -449px -5px;
				background-repeat: no-repeat;
				cursor: pointer;
				-moz-transition-property: none;
				-webkit-transition-property: none;
				-o-transition-property: none;
				transition-property: none;

				&:hover, &:active, &.is-active {
					background-position: -472px -5px;
				}
			}
		}

		&__box {
			margin: 10px auto 0;
			width: 33.33%;
			float: left;
		}

		.item {
			width: 187px;
			float: left;
			margin-right: 39px;

			&:last-child {
				margin-right: 0;
			}

			&__img {
				height: 192px;
				width: 192px;
				@extend %sprite;
				background-position: -315px -147px;
				background-repeat: no-repeat;
				position: relative;

				img {
					width: 179px;
					height: 179px;
					position: absolute;
					top: 7px;
					left: 7px;

				}

				.badge {
					position: absolute;
					z-index: 5;

				}

				.badge-1 {
					width: 51px;
				    height: 20px;
				    left: 63px;
				    top: -4px;
				    @extend %sprite;
				    background-position: -142px -5px;
				    background-repeat: no-repeat;
				}

				.badge-2 {
					width: 54px;
				    height: 34px;
				    left: 63px;
				    top: -15px;
				    @extend %sprite;
				    background-position: -203px -5px;
				    background-repeat: no-repeat;
				}

				.badge-3 {
					width: 51px;
				    height: 39px;
				    left: 63px;
				    top: -10px;
				    @extend %sprite;
				    background-position: -265px -5px;
				    background-repeat: no-repeat;
				}

				.badge-4 {
					width: 51px;
				    height: 20px;
				    left: 36px;
				    top: -4px;
				    @extend %sprite;
				    background-position: -326px -5px;
				    background-repeat: no-repeat;
				}
			}

			&__title {
				font-size: 21px;
				line-height: 22px;
				font-family: "DINPro";
				color: #1c1c1c;
				text-transform: uppercase;
				margin-top: 10px;
				margin-left: 5px;
			}
			&__text {
				font-size: 14px;
				color: #1c1c1c;
				font-family: 'PT Serif', serif;
				font-style: italic;
				margin-top: 16px;
				margin-left: 5px;
				line-height: 16px;
			}
		}
	}
}

.carousel__wrapper {
	width: 880px;
	overflow: hidden;

	&__in {
		width: 300%;
		position: relative;
		left: 0;
	}
}

.slide-active-1 {

	.carousel__wrapper__in {
		left:0px;	
	}
}
.slide-active-2 {

	.carousel__wrapper__in {
		left:-100%;	
	}
}

.slide-active-3 {

	.carousel__wrapper__in {
		left:-200%;	
	}
}

hr {
	width: 870px;
	margin: 21px auto;
	display: block;
	height: 1px;
    border: 0;
    border-top: 1px solid #dedede;
    padding: 0;
}

.btn {
	position: relative;
	left: 50%;
	width: 240px;
	-webkit-transform: translateX(-48%);
	-ms-transform: translateX(-48%);
	-o-transform: translateX(-48%);
	transform: translateX(-48%);
}

.calltoaction {
	position: relative;

	.btn-action {
		display: inline-block;
		background: url("../img/btn-c.png") repeat-x;
		background-position: -387px 0px;
		height: 67px;
		width: 211px;

		&:before {
			display: inline-block;
			content: " ";
			@extend %sprite;
			background-position: -399px -5px;
			background-repeat: no-repeat;
			height: 67px;
			width: 15px;
			-webkit-transform: translateX(-15px);
			-ms-transform: translateX(-15px);
			-o-transform: translateX(-15px);
			transform: translateX(-15px);
		}

		&:after {
			display: inline-block;
			content: " ";
			@extend %sprite;
			background-repeat: no-repeat;
			background-position: -424px -5px;
			height: 67px;
			width: 15px;
			-webkit-transform: translateX(196px);
			-ms-transform: translateX(196px);
			-o-transform: translateX(196px);
			transform: translateX(196px);
		}

		.btn-text {
			text-shadow: 0 3px 0 #9a0507;
			line-height: 67px;
			text-align: center;
			color: #fafafa;
			font-family: "DINPro";
			font-size: 22px;
			text-transform: uppercase;
			position: absolute;
			top:-3px;
		}
	}
	.arrow {
		position: absolute;
		@extend %sprite;
		background-position: -5px -5px;
		background-repeat: no-repeat;
		width: 38px;
		height: 24px;
		top:0;
		right: 290px;

	}

	&__info {
		position: absolute;
		width: 250px;
		right: 25px;
		top: 10px;
		font-size: 12px;
		font-style: italic;
		line-height: 13px;
		font-family: 'PT Serif', serif;

		span {
			color: #ff0000;
		}
	}
}


.folio__bg {
	position: absolute;
	bottom: 0;
	left: 50%;
	background: url("../img/bg-folio.png") no-repeat;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 1874px;
	height: 417px;
	z-index: 1;

}

.gallery {
	position: absolute;
	top:50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 5;
	width: 1000px;
	max-height: 668px;

	&__item {
		float: left;
		width: 199px;
		height: 166px;
		position: relative;
		margin: 0 1px 1px 0;
		overflow: hidden;

		&:nth-child(5) {
			margin-right: 0;
		}

	}

	.item {
		&__text {
			position: absolute;
			top: 100%;
			left: 0;
			background: #fff;
			height: 101%;
			cursor: pointer;
			text-align: center;
			-webkit-transition: top 0.3s ease-in-out;
			-o-transition: top 0.3s ease-in-out;
			transition: top 0.3s ease-in-out;
		}

		&:hover {
			.item__text {
				top: 0;
			}
		}

		&__title {
			display: block;
			margin: 56px 20px 0;
			font-family: "DINPro";
			font-size: 14px;
			text-transform: uppercase;
			line-height: 19px;


		}

		&__desc {
			display: block;
			margin-top: 15px;
			font-family: "PT Serif";
			font-style: italic;
			font-size: 12px;
			line-height: 13px;
		}
	}


}